bucket         = "terraform-state-api-hub-prod"
key            = "serverless/prod/terraform.tfstate"
region         = "us-east-1"
dynamodb_table = "terraform-locks-api-hub-prod"
encrypt        = true
